.direnv/
.lisp-cache/
*.fasl
*.dx64fsl
*.lx64fsl
*.lx32fsl
*.abcl
*.fas
*.lib
*.x86f
*.sparcf
*.ufsl
*.fsl
*.pfsl
*.dfsl
*.cfsl
*.sse2f
*.nfasl
*.wx32fsl
*.wx64fsl
result
result-*
npm-debug.log*
.DS_Store
